[submodule "packer-aws-base"]
	path = packer-aws-base
	url = https://github.com/apolloclark/packer-aws-base
[submodule "packer-aws-webapp"]
	path = packer-aws-webapp
	url = https://github.com/apolloclark/packer-aws-webapp
[submodule "packer-aws-java"]
	path = packer-aws-java
	url = https://github.com/apolloclark/packer-aws-java
[submodule "packer-aws-elk"]
	path = packer-aws-elk
	url = https://github.com/apolloclark/packer-aws-elk
[submodule "packer-aws-beats"]
	path = packer-aws-beats
	url = https://github.com/apolloclark/packer-aws-beats
[submodule "packer-ubuntu"]
	path = packer-ubuntu
	url = https://github.com/apolloclark/packer-ubuntu
